{% extends "base.html" %}
{% block title %}Пошук фільмів - MyMovies{% endblock %}
{% block content %}
    {% block extra_styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% endblock %}
    {% if films %}
        <section class="content">
            {% for film in films %}
            <div class="card">
    <!--            {% if film.poster %}-->
    <!--                <div class="card-image">-->
    <!--                    <img src="{{ film.poster }}" alt="Постер {{ film.name }}" style="max-width: 200px;">-->
    <!--                </div>-->
    <!--            {% endif %}-->

                <div class="card-info">
                    <h3 class="card-title">
                        <a href="/films/{{ film.id }}">{{ film.name }}</a>
                    </h3>

                    <div class="card-meta">
                        <span title="Рік виходу">📅 {{ film.date.year }}</span>
                        <span title="Рейтинг">⭐ {{ film.rating }}/10</span>
                        <span title="Тривалість">⏳ {{ film.duration }} хв.</span>
                        <span title="Жанр">🎭 {{ film.genre }}</span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </section>
    {% endif %}
{% endblock %}