<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}">
</head>
<body>
  <section class="content">
        <div class="container">
            <h2>Login</h2>
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                <ul class="flashes">
                    <section class="content">
                            {% for category, message in messages %}
                                <div class="message--{{ category }}">{{ message }}</div>
                            {% endfor %}
                    </section>
                </ul>
              {% endif %}
            {% endwith %}
            <form action="/login" method="post">
                <input type="text" name="login" placeholder="Логін" required>
                <input type="password" name="password" placeholder="Пароль" required>

                <button type="submit">Login</button>
            </form>
        </div>
    </section>
</body>
</html>