{% extends "base.html" %}

{% block title %}Реєстрація - MyMovies{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}">
{% endblock %}

{% block search_form %}
    <!-- Приховуємо форму пошуку на сторінці реєстрації -->
{% endblock %}

{% block content %}
<section class="content">
    <div class="container">
        <h2>Реєстрація</h2>
        <form action="/register" method="post">
            <input type="text" name="first_name" placeholder="Ім'я" required>
            <input type="text" name="last_name" placeholder="Прізвище" required>
            <input type="text" name="login" placeholder="Логін" required>
            <input type="password" name="password" placeholder="Пароль" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="tel" name="phone_number" placeholder="Телефон" required>
            <input type="date" name="birth_date" placeholder="Дата народження" required>
            <textarea name="additional_info" placeholder="Додаткова інформація"></textarea>

            <button type="submit" class="btn btn-success">Зареєструватися</button>
        </form>
    </div>
</section>
{% endblock %}